{{#each examples}}
<li data-id="{{this.album_name}}" class="list-group-item">
  <a href="example/{{this.artist_name}}">Album Name: {{this.album_name}} | Artist Name: {{this.artist_name}} | Rating: {{this.rating}}</a>
  <button class="btn btn-danger float-right delete">ｘ</button>
</li>
{{/each}}